.container{
  text-align: center;
}
.count{
  text-align: center;
  font-size:x-large;
  margin: 5%;
}
.btn{
  background-color: dodgerblue;
  color: white;
  font-size: large;
  border-radius: 10px;
  padding: 10px 20px;
  margin:1%;
  border-style: solid;
  border: 1px solid black;
}
.btn:hover{
background-color: black;
cursor: pointer;
border: 2px solid dodgerblue;
transform: scale(1.04);
transition-duration: 0.4s;
}
.counter{
  text-align: center;
  margin: 5%;
  font-size: x-large;
}
.para{
  color: green;
}
.header{
  background-color:dodgerblue;
  text-align: center;
  padding-top: 1px;
  padding-bottom:1px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
}